<div class="board-container">
  <div class="board">
    @if (accountsevice.currentUser()?.token) {
    @for (list of lists; track list.id) {
    <div class="list">
      <div class="list-header">
        <h3>{{ list.nomeLista }}</h3>

        <button class="list-action-btn" (click)="deleteList(list.id)">
          <i class="plus-icon"><img src="delete.png" alt="" /></i>
        </button>
        <button class="list-action-btn" (click)="openCardModal(list)">
          <i class="plus-icon">+</i>
        </button>
      </div>

      <div class="list-content">
        @for (card of list.cards; track card.id) {
        <div class="card" (click)="openCard(card.id)">
          <span>{{ card.cardname }}</span>
          <span>{{ card.datafinal | date : "dd/MM/yyyy" }}</span>
          <span>{{ card.responsavel }}</span>
          <span>{{ card.prioridade }}</span>
        </div>
        }
      </div>
    </div>
    } @if (cardSelected) {
    <div class="modal-overlay" (click)="cancelCard()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <app-card [idCard]="cardId"></app-card>
      </div>
    </div>
    }

    <div class="add-list-container">
      @if (!teste) {
      <button class="add-list-btn" (click)="startTeste()">
        <i class="plus-icon">+</i> Adicionar Lista
      </button>
      } @if (teste) {
      <input type="text" [(ngModel)]="nomeLista" name="" id="" autofocus />
      <button class="add-list-btn" (click)="addList(nomeLista)">Add</button>
      }
    </div>
  }
  </div>
</div>

@if (isModalOpen) {
<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Criar Novo Card</h2>
    <div class="modal-form">
      <input
        type="text"
        [(ngModel)]="cardname"
        placeholder="Nome do Card"
        required
      />
      <input type="text" [(ngModel)]="descricao" placeholder="Descrição" />
      <input type="date" [(ngModel)]="datafinal" />
      <select [(ngModel)]="prioridade">
        <option value="">Selecione a Prioridade</option>
        <option value="1">Baixa</option>
        <option value="2">Média</option>
        <option value="3">Alta</option>
      </select>

      <div class="modal-actions">
        <button (click)="closeModal()" class="btn-cancel">Cancelar</button>
        <button (click)="createCard()" class="btn-create">Criar Card</button>
      </div>
    </div>
  </div>
</div>
}
